APP_NAME=python-stu
ENV=development

MONGODB_URL=mongodb://mongo:27017
MONGODB_DATABASE=app

REDIS_URL=redis://redis:6379

JWT_SECRET=change-this-in-production
JWT_ACCESS_EXPIRE=1800
JWT_REFRESH_EXPIRE=604800

CORS_ORIGINS=["*"]
